<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                {% if businesses %}
                    <h1>The top 3 recommended restaurants around {{ address }} is:</h1>
                    {% for business in businesses %}
                        <li>
                            <h3>Name: {{ business.name}}; Rating: {{ business.rating }}; Phone#: {{business.phone}}</h3>
                        </li>
                    {% endfor %}
                    <form action="/" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="address" placeholder="Try another address" class="form-control">
                        </div>
                            <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                {% else %}
                    <h1>Hello! Please enter an address and I will give you 3 recommended restaurants accordingly!</h1>
                    <form action="/" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="address" placeholder="Enter the address" class="form-control">
                        </div>
                            <input type="submit" value="Submit" class="btn btn-primary">                        
                    </form>
                {% endif %}
                <li>
                    <a href="{{ url_for('about') }}">About this project</a>
                </li>

            </div>
        </div>
    </body>
</html>